*{

margin: 0;
padding: 0;
font-family: Century Gothic;
}
header{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(r1.jpg);
height: 200vh;
background-size: cover;
background-position: center;

}
ul{
float: right;
list-style-type: none;
margin-top: 25px;
}
ul li{
display:inline-block;
}
ul li a{
text-decoration:none;
color:#fff;
padding:5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;
}
ul li a:hover{
background-color: #fff;
color: red;

}

.main{
max-width:1500px;
}
.title{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.title h1{
color: white;
font-size:45px;
}





